{% load my_tags %}
<form method="get" action=".">{% csrf_token %}
    <div class="form-group">
        <label for="price_min">Min price</label>
        <input id="price_min" type="number" name="price_min" value="{{ price_min }}">
        <label for="price_max">Max price</label>
        <input id="price_max" type="number" name="price_max" value="{{ price_max }}">
    </div>
<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Tags
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for tag in tags %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" name="tags" id="check{{ tag.id }}" value="{{ tag.id }}"/>{# {% inlist tag.id checked_tags as checked %}{% if checked %} checked {% endif %} #}
                </div>
            </div>
            <label for="check{{ tag.id }}" class="form-control" >{{ tag.title }}</label>
        </div>
        {% endfor %}
    </div>
</div>
<input type="submit" title="">
</form>